<!DOCTYPE html>
<html ng-app="app">

<head>
    <link rel="stylesheet" href="assets/site.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <div ng-controller="testcontroller" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <header>
            <h1>Miniprojekt</h1>
            <nav>
                <button ng-click="runWordImageTest()" class="btn" ng-bind="wordImageTest.title"></button>
                <button ng-click="runColorTest()" class="btn" ng-bind="colorTest.title"></button>
                <button ng-click="runSeparatorTest()" class="btn" ng-bind="separatorTest.title"></button>
                <button ng-click="runSentenceTest()" class="btn" ng-bind="sentenceTest.title"></button>
            </nav>
            <span>
                <input type="text" ng-model="IPpath" /><button class="btn" ng-click="IPpath='http://localhost:60000'">Local</button>
            </span>
        </header>
        <main>
            <section ng-show="showGame===1">
                <header>
                    <h2 class="text-center" ng-bind="wordImageTest.title"> </h2>
                    <input type="text" ng-model="wordImageTest.path" />
                </header>
                <span>
                    <section ng-show="wordImageTest.showPart===1" class="description">
                        <p ng-bind="wordImageTest.description"></p>
                        
                        <button class="btn" ng-click="wordImageTest.showPart=2">Starta!</button>
                    </section>
                    <section ng-show="wordImageTest.showPart===2">
                             <!--Sätt storlek på bilderna, de blir tokstora -->
                             <div class="imgWrapper xs-col-3">
                                <div class="currentImg" style='background-image:url("{{IPpath + currentImage.Image}}")' ></div>
                             </div>
                        
                            <input class="xs-col-9" type="text" ng-enter="setNextImage()" ng-model="wordImageTest.replies[currentImage.index].Word" autofocus />
                        <button class="btn" ng-click="setNextImage()">Svara</button>
                        
                    </section>
                    <section ng-show="wordImageTest.showPart===3" class="results">
                        <section ng-repeat="image in Images">
                            <img width="30px" src="{{IPpath + image.Image}}" />
                            <span ng-hide="wordImageTest.response[$index]" class="wrong xs-col-10" ng-bind="wordImageTest.replies[$index].Word"></span>
                <span ng-show="wordImageTest.response[$index]" class="right xs-col-10" ng-bind="wordImageTest.replies[$index].Word">Rätt</span>
            </section>
            </section>
            </span>
            <footer>
            </footer>
            </section>
            <section ng-show="showGame===2">
                <header>
                    <h1 ng-bind="separatorTest.title"> </h1>
                </header>
                <span>
                    <section class="description">
                        <p ng-bind="separatorTest.description"></p>
                    </section>
                    <section>
                    </section>
                    <section class="results">
                    </section>
                </span>
                <footer>
                </footer>
            </section>
            <section ng-show="showGame===3">
                <header>
                    <h1 ng-bind="colorTest.title"> </h1>
                </header>
                <span>
                    <section ng-show="colorTest.showPart===1" class="description">
                        <p ng-bind="colorTest.description"></p>
                        <button class="btn" ng-click="colorTest.showPart=2">Starta!</button>
                    </section>
                    <section ng-show="colorTest.showPart===2" >
                        <div ng-bind="currentColor.text"></div>
                        <div class="swatch-container" ng-repeat="swatch in colorTest.alternatives">
                            <div class="swatch-wrapper col-xs-3 col-md-2">
                                <div id="swatch{{$index}}" class="swatch" ng-click="selectSwatch($index)" style="background-color:{{swatch.hex}}">
                                </div>
                            </div>
                        </div> 
                        <button class="btn" ng-click="setNextColor()">Nästa</button>   
                    </section>
                    <section ng-show="colorTest.showPart===3"  class="results">
                        <section ng-repeat="color in Colors">
                            
                            <div ng-hide="colorTest.response[$index]" class="wrong xs-col-10">
                                    <span ng-bind="color.text"></span>
                                <div class="swatch-wrapper col-xs-1">
                                    <div class="small-swatch" style="background-color:{{colorTest.replies[$index].hex}}">
                                    </div>
                                </div>
                                <span>Fel</span>
                            </div>
                            <div ng-show="colorTest.response[$index]" class="right xs-col-10">
                                <span ng-bind="color.text"></span>
                                <div class="swatch-wrapper col-xs-1">
                                    <div class="small-swatch" style="background-color:{{colorTest.replies[$index].hex}}">
                                    </div>
                                </div>
                                    <span>Rätt</span>
                                </div>
                            </section>
                        </section>
    </span>
    <footer>
    </footer>
    </section>
    <section ng-show="showGame===4">
        <header>
            <h1 ng-bind="sentenceTest.title"> </h1>
        </header>
        <span>
                    <section class="description">
                        <p ng-bind="sentenceTest.description"></p>
                    </section>
                    <section>
                    </section>
                    <section class="results">
                    </section>
                </span>
                <footer>
                </footer>
            </section>
        </main>

    </div>
    <script src="/assets/jquery-3.1.1.min.js"></script>
    <script src="/assets/angular.js"></script>
    <!--<script src="/assets/angular-resource.js"></script>-->
    <script src="/app/main.js"></script>
    <script src="/app/directives.js"></script>
</body>

</html>